:root {

}

* {
	padding: 0px;
	margin: 0px;
	font-family: "Roboto";
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans";
	font-weight: 900;
	padding: 8px 0px;
}

hr {
	margin: 32px 0px;
}

i {
	font-size: 32px;
	padding: 16px;
	display: block;
	border-radius: 50%;
	text-align: center;
	color: white;
}

ul {
	list-style: none;
}

li {
	background-color: #DEE;
	margin: 8px;
	display: inline-block;
	width: calc(50% - 16px - 8px - 8px);
	border-radius: 16px;
	padding: 4px;
}

li:before {
	content: "\2022";
	color: white;
	background: linear-gradient(#fe8c00 25%, #f83600);
	font-weight: bold;
	margin-right: 4px;
	width: 20px;
	display: inline-block;
	text-align: center;
	margin: 4px;
	border-radius: 50%;
}

body {
	background-color: #DDD;
}

.container {
	background-color: white;
	margin: 0px 256px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
	height: auto;
}

.container .header {
	padding: 16px 0px;
	padding-bottom: 64px;
}

a {
	padding: 6px 16px;
	text-decoration: none;
	color: black;
	background: linear-gradient(#fe8c00 25%, #f83600);
	color: white;
	border-radius: 4px;
}

.container .header img {
	width: 64px;
	height: 64px;
	padding: 8px;
}

.container .banner {
	background-image: url("img/banner.png");
	width: 100%;
	height: 512px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.container .content {
	padding: 16px 32px;
	padding-top: 64px;
}

.container .content .info-container {
	display: flex;
}

.container .content .info-container .icon-container {
	background: linear-gradient(#fe8c00 10%, #f83600);
	display: inline-block;
	width: 128px;
	border-radius: 32px;
	margin: 16px 0px;
}

.container .content .info-container .info {
	flex: 1;
}

.container .content .info-container .info .description {
	padding: 8px 48px;
}