@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,700,900&display=swap");


:root {
	--main-color: #fe8c00;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFF; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(25deg, #f83600, var(--main-color)); 
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #FFF;
}

#header {
	width: 100%;
	height: 96px;
	/* Credits: https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwi6wsjL6YbkAhWJbN4KHTAIAj8QjRx6BAgBEAQ&url=https%3A%2F%2Fwww.goodfreephotos.com%2Fchina%2Fhong-kong%2Fchina-hong-kong-city-with-mountains-in-the-background.jpg.php&psig=AOvVaw3QaBjSYFV1TCTXIXC_QES3&ust=1566025408948709*/
	background: linear-gradient(25deg, #f83600, var(--main-color));
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#header #site-title {
	font-size: 20px;
	color: white;
	padding: 32px;
	font-weight: bold;
	font-family: "Open Sans";
}

.navigator {
	width: 20%;
	height: calc(100vh - 96px);
	overflow-y: scroll;
	background-color: white;
	float: left;
}

.navigator .headline {
	color: black;
	font-size: 18px;
	font-weight: bold;
	user-select: none;
	padding: 8px;
	font-family: "Open Sans";
	border-bottom: 1px solid #BBB;
	margin: 8px;
}

.navigator .nav-group-child .child {
	outline: none;
	color: #262626;
	border: none;
	width: calc(100% - 64px - 16px);
	margin: 6px 32px;
	padding: 8px;
	transition: all .2s ease-in-out;
	display: inline-block;
	font-size: 14px;
	text-align: left;
	text-decoration: none;
}

.navigator .nav-group-child .child:hover {
	background: linear-gradient(25deg, #f83600, var(--main-color));
	border-radius: 4px;
	font-weight: bold;
	color: white;
	transform: scale(1.1);
}

.navigator .active {
	background-color: var(--main-color)!important;
	color: #262626!important;
}

.main-content {
	width: 80%;
	height: calc(100vh - 96px);
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
}

.content {
	width: calc(100% - (300px));
	background-color: white;
	padding: 64px 150px;
}

hr {
	margin: 16px 16px;
}

doc-title {
	font-weight: bold;
	font-size: 24px;
	display: block;
}

doc-timestamp {
	font-size: 14px;
	color: #545454;
	display: block;
	font-weight: lighter;
}

doc-warning {
	width: calc(100% - 16px);
	padding: 8px;
	display: block;
	background-color: rgba(243, 44, 44, 0.877);
	border-radius: 4px;
	color: rgb(255, 255, 255)!important;
	margin: 8px 0px;
	transition: all 0.5s ease-in-out;
	user-select: none;
}

doc-avoid {
	width: calc(100% - 16px);
	padding: 8px;
	display: block;
	background-color: rgb(211, 211, 211);
	border-radius: 4px;
	color: rgb(0, 0, 0);
	margin: 8px 0px;
	transition: all 0.5s ease-in-out;
	user-select: none;
}

doc-subtitle {
	font-weight: bold;
	font-size: 18px;	
	display: block;
}

doc-para {
	font-size: 16px;
	display: block;
	line-height: 26px;
}

folder-diagram {
	padding: 8px;
	display: block;
}

foldia-item0 {
	padding: 4px;
	padding-left: 16px;
	background-color: var(--main-color);
	width: 128px;
	display: block;
	margin: 4px;
	font-size: 12px;
	border-radius: 2px;
}

foldia-item1 {
	padding: 4px;
	padding-left: 16px;
	background-color: #262626;
	width: 128px;
	display: block;
	color: white;
	margin: 4px;
	margin-left: 32px;
	font-size: 12px;
	border-radius: 2px;
}

.indent1 {
	margin-left: 32px;
}

.indent2 {
	margin-left: 64px;
}

.justify {
	text-align: justify;
}

.main-content .content a {
	color: var(--main-color);
	text-decoration: none;
	transition: all 0.1s ease-in-out;
	display: inline-block;
}

.main-content .content a:hover {
	transform: scale(1.05);
	background: #f83600;
	color: white;
	padding: 2px 8px;
	border-radius: 4px;
	text-transform: capitalize;
	font-family: "Open Sans";
	font-weight: bold;
}

/*FOOTER*/
#footer {
	margin-top: 128px;
}
#footer #title {
	font-size: 24px;
	padding: 16px;
	color: var(--main-color);
	font-weight: bold;
	font-family: "Open Sans";
}

#footer p {
	color: #262626;
}

#footer a {
	color: var(--main-color);
	font-size: 32px;
	padding: 8px;
	display: inline-block;
}

#footer a:hover {
	color: white;
	font-weight: normal;
	transform: scale(1.5);
	padding: 0px 8px;
}

code {
	color: white;
	background-color: #262626;
	font-family: 'Consolas', monospace;
	padding: 18px;
	display: block;
	width: calc(100% - 36px);
	height: auto;
	margin: 8px 0px;
	border-radius: 4px;
}

htmltag {
	color: var(--main-color);
	font-weight: bold!important;
}

htmlproperty {
	color: rgb(0, 221, 66);
	font-weight: lighter!important;
}

jscomment {
	color: #545454;
}

ln {
	color: #505050;
	user-select: none;
}

code * {
	font-family: 'Consolas', monospace;
}

.c_green {
	color: var(--main-color);
}

.bullet {
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
	font-weight: bold;
}

.block {
	display: block;
}

rel-item {
	display: block;
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 32px;
}

rel-info {
	display: block;
	margin-left: 64px;
}

.non-highlight {
	opacity: 0.5;
}